{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<title>Test</title>
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">

      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <div id="manufacturer-graph" class="chart">
          </div>
          <h4>Manufacturers</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <div id="capacity-graph" class="chart">
          </div>
          <h4>Capacity</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <div id="status-graph" class="chart">
          </div>
          <h4>Status</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <div id="interface-graph" class="chart">
          </div>
          <h4>Interface</h4>
        </div>
      </div>

      <h2 class="sub-header">Section title</h2>
        <table class="table table-striped display responsive nowrap" id="drive-table" width="100%">
          <thead>
            <tr>
              <th data-priority="1">ID</th>
              <th>Host</th>
              <th data-priority="2">Serial</th>
              <th>Type</th>
              <th>In Use?</th>
              <th>Status</th>
              <th data-priority="3">Manufacturer's</th>
              <th>Model</th>
              <th>Capacity</th>
              <th>Interface</th>
              <th>RPM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      <!-- </div> -->
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
var driveAPIUrl = "{% url 'api_drives_list' %}";
</script>
<script src="{% static 'js/drivetracker.js' %}"></script>
{% endblock %}
